*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(cc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    font-family: sans-serif;
    height: 100vh;
}

.menu-bar{
    background: rgba(0, 0, 0, 0.705);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: aliceblue;
}
.menu-bar ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover{
     background: #0355a1d0;
     border-radius: 3px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background:  rgba(5, 5, 5, 0.705);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color:  rgba(46, 44, 44, 0.849);
}

.fa-angle-right{
    float: right;
}

.sub-menu-2{
    display: none;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background:   rgba(61, 57, 57, 0.705);
}